@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

:root{
    --background-color: #508991;
    --background-color-box: #80727B;
    --buttons-background: #E0E0E0;
    --buttons-text-color-calculate: #129490;
    --buttons-text-color-numbers: #040303;
    --answer-field-background: #ffffff;

    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    height: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-color);
}

.container {
    position: relative;
    max-width: 300px;
    width: 100%;
    border-radius: 12px;
    padding: 10px 20px 20px;
    background-color: var(--background-color-box);
    box-shadow: 0 5px 10px rgb(0, 0, 0, 0, 05);
}

.display {
    height: 80px;
    width: 100%;
    outline: none;
    border-radius: 10px;
    text-align: left;
    margin-bottom: 10px;
    font-size: 25px;
    color: black;
    background-color: var(--answer-field-background);
}

.buttons {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 1fr);
}

.buttons button {
    padding: 10px;
    border-radius: 6px;
    border: none;
    font-size: 20px;
    cursor: pointer;
    background-color: var(--buttons-background);
}


.operator{
    color: #129490;
}